.text-white{
  color: $white;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.text-green{
  color: $t-green;
  font-weight: 500;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}

.right{
  margin-right: 20px;
  cursor: pointer;
}