.container-detail-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: $grey-darken-4;
}

.container-bot {
  width: 600px;
}

.box-movie {
  width: 1067px;
  margin: 20px;
}

.float-left {
  float: left;
}

.movie-detail {
  background-color: $black;
  height: 550px;
  width: 700px;
  float: right;
}

.movie-title {
  color: $white;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  margin: 20px 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.1;
  width: 660px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-tagline {
  color: $j-green;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  margin: 0px 20px;
}

.movie-overview {
  color: $white;
  font-size: 18px;
  margin: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  height: 110px;
  text-overflow: 'ellipsis';
  white-space: wrap; 
  overflow: hidden;
}

.movie-overview-bot {
  color: $white;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px 20px 0;
  font-weight: 400;
}

.movie-tagline-bot {
  color: $j-green;
  font-family: Oswald, sans-serif;
  font-size: 28px;
  margin: 0px 20px;
}

.btn-purchase {
  margin: 0px 20px;
}

.btn-buy {
  margin-top: 30px;
}

.btn {
  font-size: 16px;
}

.red {
  background-color: $red;
}

.float-left-bot {
  float: left;
  width: 200px;
}

.disabled {
  background-color: $t-green;
  color: $white;
}

.mrgn {
  margin-top: 20px;
}